.sign-content {
  margin-top: 5rem;
}
.signIn-title {
  text-align: center;
  font-family: 'Chalkduster';
  color: #588570;
}
.form-main {
  width: 50%;
  margin: 0 auto;
}
.btn-primary {
  background-color: #588570; /* Green */
  box-shadow: #000000;
  border-radius: 6px;
}
