 .main {
  width: 100%;
  height: 643px;
}
.main .todos-list-section {
  /*position: relative;*/
  background-color: #D8D8D8;
  /*padding-top: 15px;*/
  /*width: 25%;*/
  /*height: 100%;*/
  /*float: left;*/
}

.todos-list-section .new-todo-button {
  /*position: absolute;*/
  /*left: 3rem;*/
  width: 130px;
  height: 36px;
  background-color: #588570;
  border-radius: 10% 10%;
  /*bottom: 1rem;*/
  font-family: Chalkduster, sans-serif;
  color: #FFFFFF;
  font-size: 16px;

}
.list-group-item {
  background-color: #D8D8D8;
  color: #416856;

}
.todo-name {
  text-align: center;
  font-family: Chalkduster, sans-serif;
  font-size: 18px;
  z-index: 1;
  align-items: baseline;
  display: block;

}
.todo-name:hover, .todo-name:active{
  /*font-size: 150%;*/
  text-decoration: underline;
  font-weight: bolder;
  display: block;
}
.todo-name-hover:hover {
  /*box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);*/
}
.todo-button-hover:hover {
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
}
.main .todo-cat-section {
  position: relative;
  background-color: #E7E6E8;
  float: left;
  width: 50%;
  height: 100%;
}
.todo-cat-section .cat-title {
  font-family: Chalkduster, sans-serif;
  font-size: 30px;
  margin-top: 30px;
  align-items: baseline;
  text-align: center;
}
/*.label-hover {
  display: inline;
  align-items: baseline;
}*/
.icon-del {
  transition: all 0.5s;
  display: inline;
  opacity: 0.1;
  float: right;
}
.icon-del:hover {
  opacity: 1.0;
  display: inline;
}
.new-todo-section {
float: left;
margin: 2rem 2rem 2rem 0;

}
.new-todo-section-text {

  text-align: center;
  font-family: Chalkduster, sans-serif;
  font-size: 18px;
  color: #416856;
  background-color: #e7e6e8;
}
 .new-todo-section-input {
   text-align: center;
  background-color: #e7e6e8;
}
.new-cat-item {
  margin: 2rem 2rem 2rem 0;
}
#newTodoName{
  width: 252px;
  height: 34px;
  border-radius: 5%;
}
#newTodoButton{
  background-color: #588570;
  border-radius: 10% 10%;
  font-family: Chalkduster, sans-serif;
  color: #FFFFFF;
  font-size: 16px;
}
#newItemName {
  width: 252px;
  height: 34px;
  border-radius: 5%;
}
#newItemButton{
  width: 110px;
  height: 34px;
  background-color: #588570;
  border-radius: 10% 10%;
  font-family: Chalkduster, sans-serif;
  color: #FFFFFF;
  font-size: 16px;
  margin-left: 0.5rem;
}
