 .main {
  width: 100%;
  height: 643px;
}
.main .todos-list-section {
  position: relative;
  background-color: #D8D8D8;
  padding-top: 15px;
  width: 25%;
  height: 100%;
  float: left;
  pa
}
.todos-list-section .new-todo-button {
  position: absolute;
  left: 3rem;
  width: 130px;
  height: 36px;
  background-color: #588570;
  border-radius: 10% 10%;
  bottom: 1rem;
  font-family: Chalkduster, sans-serif;
  color: #FFFFFF;
  font-size: 16px;

}
.todo-name {
  text-align: center;
  font-family: Chalkduster, sans-serif;
  font-size: 18px;
  margin: 15px;
  z-index: 1;
}
.todo-name:hover, .todo-name:active{
  font-size: 150%;
}
.todo-name-hover:hover {
  /*box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);*/
}
.todo-button-hover:hover {
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
}
.main .todo-cat-section {
  position: relative;
  background-color: #E7E6E8;
  float: left;
  width: 75%;
  height: 100%;
}
.todo-cat-section .cat-title {
  position: relative;
  background-color: yellow;
}
.todo-cat-section .cat-list {
  position: relative;

  width: 250px;
}
.cat-list .icon-del {
  background-image:  url(../assets/images/ic_delete_forever_black_18dp_1x.png) no-repeat;
  height: 18px;
  display: inline-block;
}
