<!DOCTYPE html>
<html ng-app="ChalkEmOffApp">
<head lang="en">
    <meta charset="UTF-8">
    <title>Chalk'Em Off</title>
     <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="/styles/main.css">
    <link rel="stylesheet" type="text/css" href="/styles/landing.css">
    <link rel="stylesheet" type="text/css" href="/styles/login.css">
    <link rel="stylesheet" type="text/css" href="/styles/todos.css">
</head>
<body>
  <nav class="head-band">
    <div class="band-logo">
      <!-- <img src="assets/images/logo.png"> -->
    </div>
    <div class="band-text-box">
      <h3 class="band-text">Chalk'EmOff</h3>
    </div>
    <div class="band-login-box" ng-controller="userAuthCtrl as user">
      <a ui-sref="signin">
        <button ng-show="!isLogin" type="button" name="sign-in-button" class="sign-in-out-button sign-hover" ng-click="doSignIn()">Sign In</button>
      </a>
      <a ui-sref="signup">
        <button ng-show="!isLogin" type="button" name="sign-up-button" class="sign-in-out-button sign-hover" ng-click="doSignUp()">Sign Up</button>
      </a>

      <button ng-show="isLogin" type="button" name="sign-out-button" class="sign-in-out-button sign-hover" ng-click="doSignOut()">Sign Out</button>
    </div>
  </nav>
    <ui-view></ui-view>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.3/angular.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.4.2/angular-ui-router.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/2.5.0/ui-bootstrap.min.js"></script>
    <!-- <script src="/scripts/bower_components/angular/angular.js"></script> -->
    <script src="/scripts/bower_components/angular-cookie/angular-cookie.js"></script>
    <script src="/scripts/bower_components/ng-token-auth/dist/ng-token-auth.js"></script>
    <script src="/scripts/app.js"></script>
    <script src="/scripts/LandingCtrl.js"></script>
    <script src="/scripts/SignUpCtrl.js"></script>
    <script src="/scripts/SignInCtrl.js"></script>
    <script src="/scripts/todosCtrl.js"></script>
    <script src="/scripts/userAuthCtrl.js"></script>
    <!-- <script src="/scripts/services/apicallService.js"></script> -->
</body>
</html>
