<section class="main" ng-controller="todosCtrl as todolist" >
  <div class="todos-list-section">
    <ui ng-repeat="todo in Todos" >
          <div class="todo-name todo-name-hover" ng-click="todolist.showTodoItems(todo.id, todo.attributes.title )">
              {{todo.attributes.title}}</br>
          </div>
    </ui>
    <button type="button" name="new-todo-button" class="new-todo-button todo-button-hover" ng-click="todolist.createTodo()" ng-model="newTodo">New Todo</button>
  </div>
  <div ng-show="newTodo" class="new-todo-section">
    <input type="text" name="newTodoName" id="newTodoName" value="Enter a Todo Category">
    <input type="button" name="createTodoBtn" value="Create" ng-click="todolist.createTodoCat()">
  </div>
  <div ng-show="!newTodo"class="todo-cat-section">
    <div class="cat-title">
      <p>{{Todos.title}}</p>
    </div>
    <div class="new-cat-item">
      <input type="text" name="newItemName" id="newItemName" value="Enter a Todo item">
      <input type="button" name="addItemBtn" value="Add" ng-click="todolist.addTodoItem()">
    </div>
    <div class="cat-list">

      <label ng-repeat="item in Todos.Items">
        <input
            type="checkbox"
            name="todoItems[]"
            value="{{item.attributes.name}}"
            ng-checked="{{item.attributes.done}}"
            ng-click="todolist.toggleItem(item.id, item.attributes.name, !item.attributes.done)">

              {{item.attributes.name}}
              <img src="../assets/images/ic_delete_forever_black_18dp_1x.png" /> <br/>
      </label>
    </div>
    <div class="">

    </div>
  </div>
</section>
